
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    --main-bg-color: #7b97e7;
}
body{

    font-size: 100%;
   background: var(--main-bg-color);
    background-color: white;
    overflow-x: hidden;
    
}

.cabecalho{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    color: #33A5FF;
}

.cabecalho-imagem{

    height: 75px;
    border-radius: 40px
}

.cabecalho-menu{

    display: flex;
    gap: 32px;

}

.cabecalho-menu-item{

    font-family: sans-serif;
    color: #33A5FF;
    font-weight: 400;
    font-size: 18px;
}

.triangulo-corpo {
    width: 450px;
    height: 400px;
    transform: skew(20deg);
    background: #7b97e7;
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    right: -70px;
}
.triangulo-corpo2 {
   top: 75px;
    width: 600px;
    height: 400px;
    transform: skew(20deg);
    background: #7b97e7;
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    right: -70px;

}
.conteudo{
    margin-bottom: 200px;
    border-top: 0.4px solid #33A5FF;
    padding: 50px;


}

.conteudo-principal{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.conteudo-principal-escrito{

    display: flex;
    flex-direction: column;
    gap: 32px;

}
.conteudo-principal-escrito-titulo{

    font-family: 'righteous'cursive ;
    font-weight: 400;
    font-size: 20px;
    color: black;


}

.conteudo-principal-escrito-subtitulo{

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color:black;
}

.conteudo-principal-escrito-subtitulo2{

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:black;
    gap: 30px;
}
.conteudo-principal-escrito-subtitulo4{
    
    font-family: 'Sarala', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    color:black;
    gap: 30px;

}
.conteudo-lista2{
    
    padding: 25px;
    position: absolute;
    top: 250px;
    left: 60px;
    z-index: 1;
   

}
.conteudo-principal-escrito-titulo4{
    
    text-align:end;
    position: absolute;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color:white;
    right: 100px;
    max-width: 500px;
    top: 150px;

}
.conteudo-principal-escrito-subtitulo3{



font-family:'Sarala', sans-serif;
font-weight: 400;
font-size: 20px;
color:black;
padding: 15px;
text-align: start;
}


.conteudo-principal-escrito-subtitulo5{
    text-align: end;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:var(--main-bg-color);

}
.conteudo-principal-escrito-titulo6{
    text-align:end;
    position: absolute;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color:white;
    right: 20px;
    max-width: 500px;
    top: 150px;

}

.conteudo-principal-escrito3{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.conteudo-principal-escrito-subtitulo6{
    
    text-align: start;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:var(--main-bg-color);
    width: 100%;
    
    
    
    
}

.conteudo-lista{
    border: 2px solid var(--main-bg-color);
    padding: 25px;
    position: absolute;
    top: 250px;
    left: 150px;
    z-index: 1;
    background-color: white;

}
.conteudo-principal-escrito-botao{
    background-color: var(--main-bg-color);
    width: 180px;
    height: 60px ;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-escrito-botao:hover{

    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-principal-imagem{
    border-radius: 30px;
    height: 200px;
    height: 300px;

}

.conteudo-segundario{

    display: flex;
    flex-direction: column;
    align-items:baseline;
    gap: 24px;
    margin-top: 48px;
    
}

.conteudo-segundario-titulo{

    border-top: 0.4px solid #fff2E7;
    padding-top: 48px;
    font-family: 'righteous'cursive ;
    font-weight: 400;
    font-size: 24px;
    color: #33A5FF;
    margin-bottom: 16px;

}
.conteudo-segundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #33A5FF;
    margin-bottom: 16px;


}

.rodape{
padding: 5px;
border-top: 0.4px solid #33A5FF;



}



.rodape-informativo{
   
    font-size: 100%;
    color: #33A5FF;
    padding: 50px;
    text-align: center;
}



.texto-principal{

    float:left;
    display: table-cell;
    

}